<div id="me-container">
  <h1>Profil utilisateur</h1>

  <form [formGroup]="meForm" id="formulaire">
    <div class="form-group">
      <input
        matInput
        type="text"
        id="nom"
        formControlName="nom"
        placeholder="Entrez votre nouveau nom"
        required
      />
    </div>

    <div class="form-group">
      <input
        matInput
        type="email"
        id="email"
        formControlName="email"
        placeholder="Entrez votre nouvel email"
        required
      />
    </div>

    <button type="submit" class="btn-sauvegarder" (click)="submit()">
      Sauvegarder
    </button>
  </form>
  <br />
  <button class="btn-desinscrire" (click)="deconnexion()">
    Se déconnecter
  </button>

  <hr />

  <h2>Abonnements</h2>

  <div class="theme-list">
    @for (theme of user?.subscriptions; track theme.id) {
    <app-carte-theme [theme]="theme" />
    } @empty {
    <p id="no-theme">Pas de theme</p>
    }
  </div>

  <div *ngIf="onError" class="error-message">
    Une erreur est survenue lors de l'inscription.
  </div>
</div>
