<a routerLink="/articles">
  <img src="/assets/fleche-gauche.png" alt="Flèche Retour" id="fleche-retour" />
</a>

<div id="formulaire-article-container">
  <h1>Créer un nouvel article</h1>

  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <!-- Récupération des thèmes de la bdd -->
    <div class="form-group">
      <select formControlName="theme" id="theme" name="theme" required>
        <option value="0" disabled selected id="placeholder">
          Sélectionner un thème
        </option>
        @for (theme of themes$ | async; track theme.id) {
        <option value="{{ theme.id }}">{{ theme.nom }}</option>
        } @empty {
        <option><mat-spinner></mat-spinner></option>
        }
      </select>
    </div>

    <!-- Titre du nouvelle article -->
    <div class="form-group">
      <input
        id="titre"
        placeholder="Titre de l'article"
        name="titre"
        formControlName="titre"
        required
      />
    </div>

    <!-- Contenu / Description du nouvelle article -->
    <div class="form-group">
      <textarea
        id="contenu"
        placeholder="Contenu de l'article"
        name="contenu"
        rows="4"
        formControlName="contenu"
        maxlength="{{ descriptionMaxLength }}"
        required
      >
      </textarea>
      <p id="verifTailleContenu">
        {{ articleForm.get("contenu")?.value.length }}/{{
          descriptionMaxLength
        }}
      </p>
    </div>

    <button type="submit" class="btn-creation">Créer</button>
  </form>
</div>
