.app {
  width: 100%;
  display: flex;
  flex-direction: column;

  .logo {
    height: 80px;
    margin: 20px 5px 5px;
  }

  mat-toolbar {
    background-color: #fff;
    //border-bottom: 0.5px solid #5c5c5caf;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.548);
    z-index: 3;

    .navbar-links {
      display: flex;
      align-items: center;
      margin-left: auto;

      .lien {
        font-size: 16px;
      }
    }

    .example-icon {
      margin-left: auto;
    }
  }

  .example-sidenav {
    width: 40%;
    background-color: #fff;

    .active {
      color: #7550ec !important;
      font-weight: bold;
    }

    mat-nav-list {
      display: flex;
      flex-direction: column;

      .icone-me {
        color: #000;
        margin: 0;
      }

      .lien-mobile {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        margin: 5px 0;

        &:hover {
          background-color: rgba(191, 191, 191, 0.308);
          border-radius: 12px;
          margin: 8px;
        }
      }
    }
  }

  .icone-me {
    margin: 0;
  }

  @media (max-width: 768px) {
    mat-toolbar .navbar-links {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .example-icon {
      display: none;
    }
  }

  .active {
    color: #7550ec !important;
  }
}

.example-sidenav-container {
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
