<app-menu />

<a mat-button routerLink="/">
  <img src="assets/fleche-gauche.png" alt="Flèche Retour" id="fleche-retour" />
</a>

<div id="inscription-container">
  <img src="assets/logo_p6.png" alt="logo-mdd" id="logo" />

  <h1>Inscription</h1>

  <form>
    <div class="form-group">
      <label for="username">Nom Utilisateur</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Entrez votre nom d'utilisateur"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Entrez votre email"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Entrez votre mot de passe"
        required
      />
    </div>

    <button type="submit" class="btn-inscrire">S'inscrire</button>
  </form>
</div>
