<div class="center">
  <h1>Bienvenue sur ma page personnelle</h1>
  <p>Ceci est la page "Me" de notre application.</p>
  <img src="/assets/logo_p6.png" alt="logo" />

  <button mat-raised-button color="primary" (click)="showMore()">
    En savoir plus
  </button>

  <!-- Ajout d'une section supplémentaire pour afficher plus d'informations -->
  <div *ngIf="moreInfoVisible">
    <h2>Informations supplémentaires</h2>
    <p>Voici quelques détails supplémentaires sur cette page.</p>
    <ul>
      <li>Detail 1</li>
      <li>Detail 2</li>
      <li>Detail 3</li>
    </ul>
  </div>
</div>
