.btn-creation-article {
  background-color: #7550ec;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
  margin-left: 40px;

  &:hover {
    background-color: #5e3aba;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 15px;
}

.filter-select {
  background-color: #ffffff;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 13px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 40px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  app-carte-article {
    max-width: calc(50% - 32px);
    flex: 1 1 calc(50% - 32px);
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .actions {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 10px;

    .btn-creation-article {
      margin-top: 5px;
      margin-left: 0;
    }

    .filter-select {
      margin-top: 5px;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .articles-container {
    display: flex;
    flex-direction: column; // Aligne les cartes en colonne
    align-items: center; // Centre les cartes horizontalement
    padding: 0; // Réduit le padding si nécessaire
    gap: 10px;

    app-carte-article {
      width: 90%;
      max-width: 90%; // Permet aux cartes de s'étendre sur toute la largeur disponible
      box-sizing: border-box;
    }
  }
}
