<div class="actions">
  <button (click)="creationArticle()" class="btn-creation-article">
    Créer un article
  </button>

  <select class="filter-select" (change)="onFilterChange($event)">
    <option disabled selected>Trier par ...</option>
    <option value="titre-asc">Titre A-Z</option>
    <option value="titre-desc">Titre Z-A</option>
  </select>
</div>

<div class="articles-container">
  @for (article of articles(); track article.id) {
  <!--{{ article | json }}-->
  <app-carte-article [article]="article" />
  } @empty {
  <p>Pas d'article</p>
  }
</div>
